footer {
    background: #E83E8C;
    padding-top: 30px;
    padding-bottom: 53px;
}
h1 {
    font-size: 3.75rem;
    text-wrap
}
.fa-color {
    color:#ffffff;
}

.icons {
    background: #17A2B8;

}

